<h1>Add new Bug</h1>
<h3 ng-show="type">Application type: {{type | uppercase}}</h3>

<form role="form"  ng-submit="process(bug)">
    <ng-include src="'templates/FormElements/bugForm.html'"></ng-include>
    <div class="form-group">
        <label for="screenshot_1">Screenshot</label>
        <input type="file" id="screenshot_1" ng-model="bug.screenshot_1" file-input="bug.screenshots" multiple>
    </div>
    <div class="row" ng-show="formEnabled">
        <hr/>
        <div class="form-group col-lg-12">
            <button class="btn btn-default" ng-disabled="!formEnabled">Submit</button>
            <button class="btn btn-default"   ng-click="formEnabled = false">Cancel</button>
        </div>
    </div>
</form>